@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --acent-color: #2196F3;
  --main-backgroung-color: #F5F4FA;
  --secondary-background-color: #2F303A;
  --white: #FFFFFF;
  --black: #000000;
  --background-button-color: #188CE8;
  --logo-color: #AFB1B8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /*outline: 1px solid red;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  color: var(--acent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-main {
  color: var(--black);
}

/* Навігація */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}

.site-nav .current {
  color: var(--acent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -33px;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--acent-color);
}

/* телефон та имейл */
.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}

.item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-nav {
  margin-right: 10px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.hero {
  width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-color: var(--secondary-background-color);
  padding: 200px 0;
  margin: 0 auto;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  background-color: var(--acent-color);
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  background-color: var(--background-button-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  height: 581px;
  width: 528px;
  background-color: var(--white);
}

.icon-exid {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-exid:hover,
.icon-exid:focus {
  fill: var(--acent-color);
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.modal-h {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--acent-color);
  outline: none;
}

.form-input:focus + svg {
  fill: var(--acent-color);
}

.form-field .modal-icon {
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover .modal-icon,
.form-field:focus .modal-icon {
  fill: var(--acent-color);
}

.form-field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  -webkit-transform: translateY(28px) translateX(12px);
          transform: translateY(28px) translateX(12px);
}

.modal-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:hover,
textarea:focus {
  border: 1px solid var(--acent-color);
  outline: none;
}

.modal-button {
  display: block;
  margin: 30px auto 0;
  padding: 10px 52px;
  background-color: var(--acent-color);
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188CE8;
  outline: none;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal-link {
  color: var(--acent-color);
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: var(--white);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-icon {
  fill: var(--white);
  border: 2px solid var(--acent-color);
  border-radius: 2px;
  background-color: var(--acent-color);
}

.icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-backgroung-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.benefits-p {
  margin: 10px 0 0 0;
}

.benefits-list {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-img {
  position: relative;
}

.work-text {
  padding: 27px 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.work-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-section {
  padding-bottom: 94px;
}

.work-list:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--main-backgroung-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-people {
  background-color: var(--white);
  fill: var(--logo-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-people:not(:last-child) {
  margin-right: 30px;
}

.team-text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.team-container {
  margin-bottom: 30px;
}

.icon-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--logo-color);
}

.icon-list:not(:last-child) {
  margin-right: 10px;
}

.main-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--logo-color);
  padding: 12px;
  border-radius: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  fill: var(--white);
  background-color: var(--acent-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
}

.client-link {
  fill: var(--logo-color);
  padding: 16px 32px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--acent-color);
  border: 1px solid var(--acent-color);
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  display: inline-block;
}

.secondary-logo {
  color: var(--white);
}

.address {
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: var(--acent-color);
}

.footer-list {
  display: block;
  margin-top: 20px;
}

.footer-li:not(:last-child) {
  margin-bottom: 9px;
}

.nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--acent-color);
}

.footer-case {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.footer-icon-list:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  fill: var(--white);
  border-radius: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--acent-color);
}

.footer-form {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  color: var(--white);
}

.footer-button {
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: var(--acent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  cursor: pointer;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #188CE8;
}

.button-footer-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
}

.icon-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 28px;
  padding-left: 28px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-list:not(:last-child) {
  margin-right: 8px;
}

.buttons {
  padding: 6px 22px;
  background-color: var(--main-backgroung-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: solid transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover,
.buttons:focus {
  background-color: var(--acent-color);
  color: var(--white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.main-project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-list:nth-child(3n) {
  margin-right: 0;
}

.project-list {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.container-project-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
}

.container-project {
  position: relative;
  overflow: hidden;
}

.project-link:hover .container-project-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project-text {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
}/*# sourceMappingURL=main.css.map */