@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --acent-color: #2196F3;
  --main-backgroung-color: #F5F4FA;
  --secondary-background-color: #2F303A;
  --white: #FFFFFF;
  --black: #000000;
  --background-button-color: #188CE8;
  --logo-color: #AFB1B8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /*outline: 1px solid red;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  color: var(--acent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo_main {
  color: var(--black);
}

/* Навігація */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  position: relative;
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--acent-color);
}
.site-nav .current {
  color: var(--acent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -33px;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--acent-color);
}

/* телефон та имейл */
.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link:hover, .auth-nav .link:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}

.item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-nav {
  margin-right: 10px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  border-bottom: 1px solid #ececec;
}

.hero {
  width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-color: var(--secondary-background-color);
  padding: 200px 0;
  margin: 0 auto;
}
.hero_title {
  max-width: 696px;
  margin: 0 auto 30px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  background-color: var(--acent-color);
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover {
  background-color: var(--background-button-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  height: 581px;
  width: 528px;
  background-color: var(--white);
}
.modal_h {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.modal_icon {
  position: absolute;
  -webkit-transform: translateY(28px) translateX(12px);
          transform: translateY(28px) translateX(12px);
}
.modal_text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal_button {
  display: block;
  margin: 30px auto 0;
  padding: 10px 52px;
  background-color: var(--acent-color);
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_button:hover, .modal_button:focus {
  background-color: var(--background-button-color);
  outline: none;
}
.modal_link {
  color: var(--acent-color);
}

.icon-exid {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-exid:hover, .icon-exid:focus {
  fill: var(--acent-color);
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.form_input {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_input:hover, .form_input:focus {
  border: 1px solid var(--acent-color);
  outline: none;
}
.form_input:focus + svg {
  fill: var(--acent-color);
}

.form_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form_field .modal-icon {
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_field:hover .modal-icon, .form_field:focus .modal-icon {
  fill: var(--acent-color);
}
.form_field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form_field::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form_field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form_field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form_field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea:hover, textarea:focus {
  border: 1px solid var(--acent-color);
  outline: none;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.checkbox:checked + .check-icon {
  fill: var(--white);
  border: 2px solid var(--acent-color);
  border-radius: 2px;
  background-color: var(--acent-color);
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: var(--white);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-backgroung-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.benefits_list {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.benefits_title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.benefits_p {
  margin: 10px 0 0 0;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work_section {
  padding-bottom: 94px;
}
.work_list:not(:last-child) {
  margin-right: 30px;
}
.work_img {
  position: relative;
}
.work_text {
  padding: 27px 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}
.work_block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--main-backgroung-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team_people {
  background-color: var(--white);
  fill: var(--logo-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team_people:not(:last-child) {
  margin-right: 30px;
}
.team_container {
  margin-bottom: 30px;
}
.team_title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team_text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.icon-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--logo-color);
}
.icon-list:not(:last-child) {
  margin-right: 10px;
}

.main-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--logo-color);
  padding: 12px;
  border-radius: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover, .icon-link:focus {
  fill: var(--white);
  background-color: var(--acent-color);
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client_link {
  fill: var(--logo-color);
  padding: 16px 32px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client_link:hover, .client_link:focus {
  fill: var(--acent-color);
  border: 1px solid var(--acent-color);
}

.main-list-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer_list {
  display: block;
  margin-top: 20px;
}
.footer_li:not(:last-child) {
  margin-bottom: 9px;
}
.footer_case {
  margin-left: 70px;
  margin-right: 93px;
}
.footer_title {
  display: block;
  margin-bottom: 20px;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  fill: var(--white);
  border-radius: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_link:hover, .footer_link:focus {
  background-color: var(--acent-color);
}
.footer_form {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  color: var(--white);
}
.footer_button {
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: var(--acent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  cursor: pointer;
}
.footer_button:hover, .footer_button:focus {
  background-color: #188ce8;
}
.footer_button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
}
.footer_icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}
.footer_icon-list:not(:last-child) {
  margin-right: 10px;
}
.footer_main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_logo {
  color: var(--white);
}

.logo {
  display: inline-block;
}

.address {
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover, .address:focus {
  color: var(--acent-color);
}

.nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: var(--acent-color);
}

.icon-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 28px;
  padding-left: 28px;
}/*# sourceMappingURL=main.css.map */