.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-backgroung-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;

  &_section {
    display: flex;
    gap: 30px;
  }

  &_list {
    flex-basis: calc((100% - 90px) / 4);
  }

  &_title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    margin: 0;
    padding: 0;
  }

  &_p {
    margin: 10px 0 0 0;
  }
}
